// Add your styles below! (feel free to delete this comment)
*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    color: #526275;
}

.meetingcard {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 2px solid #E0E7F1;
    border-radius: 6px;
    border-left: 4px solid #23856D;
    padding: 0 24px;
    // Using hard-coded width here just 
    // for the purposes of the challenge
    width: 668px;

    h1 {
        color: #263240;
        font-size: 16px;
        font-weight: 600;
        margin: 0;
    }
    
    p {
        margin: 0;
    }

    a:focus, a:active, button:focus, button:active {
        outline: 2px solid rgb(0, 119, 255);
    }

    &__avatar {
        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.18));
    }

    &__details, &__links, &__time, &__date, &__location {
        display: flex;

        svg {
            margin-right: 8px;
        }
    }

    &__details {
        flex-direction: column;
        justify-content: space-between;
        margin-left: 24px;
        padding: 16px 0;
    }

    &__links {
        justify-content: space-between;
        margin: 12px 0 16px;
    }

    &__time, &__date {
        align-items: center;
    }

    &__date {
        margin-left: 24px;
    }

    &__location {
        align-items: center;

        a {
            color: #526275;
            text-decoration: none;
        }
    }

    &__options {
        margin-left: auto;

        button {
            border: none;
            background: none;
            padding: 0;
        }
    }
}

.sr-only {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px); 
	-webkit-clip-path: inset(50%);
		clip-path: inset(50%);  
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;    
}